footer {
    font-family: 'Poppings', sans-serif;
  }
  
  .container-footer {
      max-width: 1150px;
      margin: auto;
  }
  
  .logo-footer { 
      width: 380px;
      height: 150px;
      padding-right: 40px;
      align-items: center;
   }
  
  .row{
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
  }
  
  .recursos{
      list-style: none;
    align-items: flex-start;
    padding: 0;
    margin: 0;
  }
  
  .footer{
      background-color: #21CAD2;
      padding: 60px;
      
  }
  
  .footer-col{
     width: 20%;
     padding: 0 10px;
     
  }
  
  .footer-col h4{
      font-size: 18px;
      color: #ffffff;
      /* text-transform: capitalize; */
      right: 75px;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
  }
  
  .footer-col h4::before{
      content: '';
      position: absolute;
      left: 75px;
      bottom: -10px;
      background-color: #00dee8;
      height: 2px;
      box-sizing: border-box;
      width: 80px;
  }
  
  .footer-col ul li:not(:last-child){
      margin-bottom: 10px;
  }
  
  .footer-col ul li a{
      font-size: 16px;
      text-transform: capitalize;
      color: #ffffff;
      text-decoration: none;
      font-weight: 300;
      color: #f4f4f4;
      display: block;
      transition: all 0.3s ease;
      align-items: baseline;
  }
  
  .footer-col ul li a:hover{
      color: #ffffff;
      padding-left: 8px;
  }
  
  .footer-col .social-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255,255,255,0.2);
      margin:0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover{
      color: #00dee8;
      background-color: #ffffff;
  }
  
  .footerBottom{
    text-align: center;
  }
  
  .footerBottom p{
    color: white;
    align-items: start;
    justify-content: flex-start;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  hr {
    background: #29BAC1;
    border: 0;
    height: 2px;
    margin: 15px 0;
   
  }
  
  